.scg-btn-add {
    padding: 10px;
    border-radius: 4px;
    color: var(--scg-color-font-primary);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--scg-color-button);
    margin-top: 10px;
    width: 200px;
}

.scg-button-center {
     display: flex;
     justify-content: center;
}