.scg-expense-container {
    margin-top: 50px;
    height: 500px;
    border-radius: 32px;
    padding: 10px 30px;
}

.scg-expense-container h2 {
    color: var(--scg-color-font-primary);
    font-size: 18px;
}

.scg-title-list {
    height: 60px;
    padding: 0 10px;
    background-color: var(--scg-color-bg-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.scg-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.scg-table thead {
    height: 50px;
    font-size: 14px;
    background-color: var(--scg-color-bg-primary);
}

.scg-table tbody {
    font-size: 12px;
    background-color: var(--scg-color-bg-primary);
    text-align: center;
}

.scg-table tbody tr {
    height: 40px;
    border-top: 1px solid var(--scg-table-border);
}

.scg-expense-card-btn {
    height: 20px;
    width: auto;
    cursor: pointer;
    margin: 5px;
}

.scg-txt-left {
    text-align: left;
}

.scg-padding {
    padding: 0 5px;
}

@media (min-width: 576px) {
    .scg-title-list {
        justify-content: left;
        font-size: 20px;
    }
}