.scg-container-header {
    color: var(--scg-color-font-primary);
    height: 70px;
    background-color: var(--scg-color-bg-secondary);
    display: flex;
    align-items: center;
}

.scg-container-header h1 {
    font-size: 20px;
}