.scg-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.scg-table thead {
    height: 50px;
    font-size: 14px;
    background-color: var(--scg-color-bg-primary);
}

.scg-table tbody {
    font-size: 12px;
    background-color: var(--scg-color-bg-primary);
    text-align: center;
}

.scg-table tbody tr {
    height: 40px;
    border-top: 1px solid var(--scg-table-border);
}

.scg-expense-card-btn {
    height: 20px;
    width: auto;
    cursor: pointer;
    margin: 5px;
}

.scg-txt-left {
    text-align: left;
}

.scg-padding {
    padding: 5px;
}