@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --scg-color-bg-primary: #FFF;
  --scg-color-bg-secondary: #315fd3;
  --scg-color-bg-tertiary:#e8e8e8;

  --scg-color-font-primary: #FFF;
  --scg-color-font-secondary: #636363;
  --scg-color-font-placeholder: #d9d9d9;

  --scg-searchBar-border: #d9d9d9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--scg-color-bg-primary);
}

.scg-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}